body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
/* 这是添加的 */
#header1 {
    background-color: #0965ee;
}

#header2 {
    background-color: #09a0f1;
}

#header3 {
    background-color: #0ccef0;
}
/* 到这里 */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

section h2 {
    margin-bottom: 10px;
}

.portfolio-item {
    margin-bottom: 20px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}